In [68]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
np.random.seed(0)

In [69]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 2.4 MB/s eta 0:00:00[31m1.9 MB/s eta 0:00:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [82]:
conditions_df = pd.read_excel('conditions.xlsx')
conditions_df.head()

,user id,item id,Actual Item price,Category,Item Delivery status,Item Price,RR,Buyer,Seller,Product,3PL,Output
0,NaN,NaN,NaN,Fashion,Delivered,<4000,Defective,8.0,6.0,5.0,6.7,Skip QCC
1,NaN,NaN,NaN,Fashion,Delivered,<4000,Defective,6.0,9.0,7.0,5.0,Digital QCC
2,NaN,NaN,NaN,Fashion,Delivered,<4000,Defective,4.5,9.0,7.0,8.7,Standard Return
3,NaN,NaN,NaN,Fashion,Delivered,<4000,Defective,4.5,5.0,8.0,8.7,Digital QCC
4,NaN,NaN,NaN,Fashion,Delivered,<4000,Defective,8.5,4.0,5.0,9.0,Skip QCC

In [83]:
def determine_actual_price(item_price):
    if item_price == '>4000':
        return np.random.randint(4000, 10001)
    elif item_price == '<4000':
        return np.random.randint(1, 4000)

In [85]:
conditions_df['Actual Item price'] = conditions_df['Item Price'].apply(determine_actual_price)
conditions_df.head(10)

,user id,item id,Actual Item price,Category,Item Delivery status,Item Price,RR,Buyer,Seller,Product,3PL,Output
0,NaN,NaN,2855.0,Fashion,Delivered,<4000,Defective,8.0,6.0,5.0,6.7,Skip QCC
1,NaN,NaN,276.0,Fashion,Delivered,<4000,Defective,6.0,9.0,7.0,5.0,Digital QCC
2,NaN,NaN,1199.0,Fashion,Delivered,<4000,Defective,4.5,9.0,7.0,8.7,Standard Return
3,NaN,NaN,1579.0,Fashion,Delivered,<4000,Defective,4.5,5.0,8.0,8.7,Digital QCC
4,NaN,NaN,1396.0,Fashion,Delivered,<4000,Defective,8.5,4.0,5.0,9.0,Skip QCC
5,NaN,NaN,NaN,Fashion,Not delivered,no need,Item not received,9.0,6.0,7.0,5.0,Digital QCC
6,NaN,NaN,5208.0,Fashion,Delivered,>4000,No need,9.0,6.0,7.0,5.0,Standard Return
7,NaN,NaN,NaN,Groceries,Delivered,NaN,Expired,9.5,5.0,4.0,7.5,Skip QCC
8,NaN,NaN,2493.0,Groceries,Delivered,<4000,Expired,8.0,6.0,5.0,6.7,Digital QCC
9,NaN,NaN,2537.0,Groceries,Delivered,<4000,Expired,6.0,9.0,7.0,5.0,Digital QCC

In [96]:
conditions_df.columns

Index(['user id', 'item id', 'Actual Item price', 'Category',
       'Item Delivery status', 'Item Price', 'RR', 'Buyer', 'Seller',
       'Product', '3PL', 'Output'],
      dtype='object')

In [103]:
fashion_ids = [383156421,265358742,365413116,365713124,270663434,384567531,384567532 ]
buyer_ids = [6005036175223,600027837182,6005018304930,600025881662,600012192618,600004125497, 600004125499]

conditions_df.loc[conditions_df['Category'] == 'Fashion', 'item id'] = fashion_ids
conditions_df.loc[conditions_df['Category'] == 'Fashion', 'user id'] = buyer_ids

electronic_ids = [1814823,6005036400122,600037371393,1776799,1324918, 1324919, 1324920]
buyer_ids_2 = [367292223,229688154,380182489,368366112,222476372, 222476373, 222476374]

In [106]:
conditions_df[conditions_df['Category'] == 'Mobiles & Tablets']
#conditions_df[conditions_df['Category'] == 'Fashion', 'user id'] = buyer_ids

,user id,item id,Actual Item price,Category,Item Delivery status,Item Price,RR,Buyer,Seller,Product,3PL,Output
22,NaN,NaN,NaN,Mobiles & Tablets,Delivered,NaN,Damaged,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,9448.0,Mobiles & Tablets,Delivered,>4000,Damaged,9.5,5.0,4.0,7.5,skip QCC
24,NaN,NaN,NaN,Mobiles & Tablets,Delivered,NaN,Damaged,8.0,6.0,5.0,6.7,Digital QCC
25,NaN,NaN,3092.0,Mobiles & Tablets,Delivered,<4000,Damaged,6.0,9.0,7.0,5.0,Digital QCC
26,NaN,NaN,608.0,Mobiles & Tablets,Delivered,<4000,Damaged,4.5,9.0,7.0,8.7,Standard Return
27,NaN,NaN,3913.0,Mobiles & Tablets,Delivered,<4000,Damaged,4.5,5.0,8.0,8.7,Standard Return
28,NaN,NaN,1435.0,Mobiles & Tablets,Delivered,<4000,Damaged,8.5,4.0,5.0,9.0,Digital QCC
29,NaN,NaN,9368.0,Mobiles & Tablets,Delivered,>4000,Damaged,9.0,6.0,7.0,5.0,Standard Return
30,NaN,NaN,4180.0,Mobiles & Tablets,Delivered,>4000,No need,9.0,6.0,7.0,5.0,NaN
31,NaN,NaN,2372.0,Mobiles & Tablets,Delivered,<4000,Defective,9.5,5.0,4.0,7.5,Skip QCC
32,NaN,NaN,3053.0,Mobiles & Tablets,Delivered,<4000,No need,8.0,6.0,5.0,6.7,Digital QCC
33,NaN,NaN,3902.0,Mobiles & Tablets,Delivered,<4000,No need,6.0,9.0,7.0,5.0,Digital QCC
34,NaN,NaN,3855.0,Mobiles & Tablets,Delivered,<4000,No need,4.5,9.0,7.0,8.7,Standard Return
35,NaN,NaN,3937.0,Mobiles & Tablets,Delivered,<4000,No need,4.5,5.0,8.0,8.7,Digital QCC
36,NaN,NaN,3333.0,Mobiles & Tablets,Delivered,<4000,No need,8.5,4.0,5.0,9.0,Digital QCC
37,NaN,NaN,8845.0,Mobiles & Tablets,Delivered,>4000,No need,9.0,6.0,7.0,5.0,Standard Return
38,NaN,NaN,NaN,Mobiles & Tablets,Not delivered,no need,Item not received,9.0,6.0,7.0,5.0,digital QCC

In [108]:
# Assuming you have a DataFrame named 'conditions_df' and you want to modify the 'some_column' column
# Set the value of 'some_column' to a new value for rows where 'Category' is 'Fashion'
n_rows = conditions_df.columns[0]

'user id'

In [112]:
n_rows = conditions_df.shape[0]
conditions_df['user id'] = np.random.randint(100000000, 999999999, size=n_rows)
conditions_df['item id'] = np.random.randint(1000000, 9999999, size=n_rows)

In [114]:
conditions_df.to_csv('conditions_df.csv', index=False)

In [121]:
buyer_score = conditions_df[conditions_df['user id'] == 419224543]['Buyer'].iloc[0]
buyer_score = conditions_df[conditions_df['user id'] == 419224543]['Buyer'].iloc[0]

8.0

In [123]:
conditions_df[conditions_df['user id'] == 419224543]['Output'].iloc[0]

8.0

In [124]:
buyer_score = conditions_df[(conditions_df['user id'] == 419224543) & (conditions_df['item id'] == 9471335)]['Buyer'].iloc[0]
seller_score = conditions_df[(conditions_df['user id'] == 419224543) & (conditions_df['item id'] == 9471335)]['Seller'].iloc[0]
product_score = conditions_df[(conditions_df['user id'] == 419224543) & (conditions_df['item id'] == 9471335)]['Product'].iloc[0]

6.0

In [126]:
conditions_df[(conditions_df['user id'] == 419224543) & (conditions_df['item id'] == 9471335)]['Output'].iloc[0]

'Skip QCC'

In [9]:

n_rows = 50

seller_df = pd.DataFrame({
    'seller_id': np.random.randint(1000, 9999, size=n_rows),
    'RTM_Ratio': np.random.uniform(0, 1, size=n_rows),
    'Repeat_purchase_rate': np.random.uniform(0, 1, size=n_rows),
    'Average_Product_Rating': np.random.uniform(1, 5, size=n_rows),
    'Seller_Rating': np.random.uniform(1, 5, size=n_rows),
    'PM1': np.random.uniform(1000, 50000, size=n_rows),
    'Total_Assortments': np.random.randint(1, 100, size=n_rows)
})

product_df = pd.DataFrame({
    'Product_ID': np.random.randint(10000, 99999, size=n_rows),
    'Average_Rating': np.random.uniform(1, 5, size=n_rows),
    'QRR': np.random.uniform(0, 1, size=n_rows),
    'Description_score': np.random.choice(['good', 'bad'], size=n_rows)
})

In [73]:
np.random.randint(4000, 10000)

6732

In [13]:
Buyer ID, Buyer Score
Seller ID, Seller Score
Product ID, Product Score, Seller ID

SyntaxError: invalid syntax (3380703334.py, line 1)

In [14]:
# DataFrame 1: Buyers
buyer_df = pd.DataFrame({
    'Buyer_ID': np.random.randint(10000, 99999, size=n_rows),
    'Buyer_Score': np.random.uniform(0, 1, size=n_rows)
})

# DataFrame 2: Sellers
seller_df = pd.DataFrame({
    'Seller_ID': np.random.randint(10000, 99999, size=n_rows),
    'Seller_Score': np.random.uniform(0, 1, size=n_rows)
})

# DataFrame 3: Products with Seller IDs from the Sellers DataFrame
product_seller_df = pd.DataFrame({
    'Product_ID': np.random.randint(10000, 99999, size=n_rows),
    'Product_Score': np.random.uniform(0, 1, size=n_rows),
    'Seller_ID': np.random.choice(seller_df['Seller_ID'], size=n_rows)
})

In [63]:
import streamlit as st

In [62]:
buyer_df.round(2).to_csv('buyer_df.csv', index=False)
seller_df.round(2).to_csv('seller_df.csv', index=False)
product_seller_df.round(2).to_csv('product_seller_df.csv', index=False)

In [54]:
buyer_id = 28823
product_id = 80211

buyer_score = buyer_df[buyer_df['Buyer_ID'] == buyer_id]['Buyer_Score'].iloc[0]
product_score = product_seller_df[product_seller_df['Product_ID'] == product_id]['Product_Score'].iloc[0]

seller_id = product_seller_df[product_seller_df['Product_ID'] == product_id]['Seller_ID'].iloc[0]
seller_score = seller_df[seller_df['Seller_ID'] == seller_id]['Seller_Score'].iloc[0]

In [51]:
def load_data():
    buyer_df = pd.read_csv('buyer_df.csv')
    product_seller_df = pd.read_csv('product_seller_df.csv')
    seller_df = pd.read_csv('seller_df.csv')
    return buyer_df, product_seller_df, seller_df

In [52]:
buyer_df, product_seller_df, seller_df = load_data()

In [46]:
seller_score

0.24783864699076974

Empty DataFrame
Columns: [Product_ID, Average_Rating, QRR, Description_score]
Index: []

Fashion 

- 419224543, 9471335, 2855.0,Fashion,Delivered,<4000,Defective,8.0,6.0,5.0,6.7, Skip QCC
- 244418678, 2793923, 276.0,Fashion,Delivered,<4000,Defective,6.0,9.0,7.0,5.0, Digital QCC
- 757992492, 5307721, 1199.0,Fashion,Delivered,<4000,Defective,4.5,9.0,7.0,8.7, Standard Return

Mobile & Electronics

- 224773173, 8433878,2372.0,Mobiles & Tablets,Delivered,<4000,Defective,9.5,5.0,4.0,7.5,Skip QCC
- 520942131, 4534238,3053.0,Mobiles & Tablets,Delivered,<4000,No need,8.0,6.0,5.0,6.7,Digital QCC


Grocery
- 341351357, 3529409,4637.0,Groceries,Delivered,>4000,Expired,9.0,6.0,7.0,5.0,Digital QCC
- 530471200, 1897200,95.0,Groceries,Delivered,<4000,Damaged,4.5,9.0,7.0,8.7,Digital QCC